/* global.css */

/* Roboto fontunu import edin */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');html,
body {
  height: 100%;
  font-family: 'Roboto',Flex;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grecaptcha-badge {
  visibility: hidden;
}

.css-1a8jdnq-MuiPaper-root-MuiAccordion-root:before {
  height: 0;
}

.css-qlan4u-MuiPaper-root-MuiAccordion-root:before {
  height: 0;
}

.css-1olcbyp-MuiPaper-root-MuiAccordion-root:before {
  height: 0;
}

.css-17qoi5p-MuiPaper-root-MuiAccordion-root:before {
  height: 0;
}

.css-1o33kkv-MuiPaper-root-MuiAccordion-root:before {
  height: 0;
}

.css-1vro6o9-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid white;
}

.css-1vro6o9-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid white;
}